*{
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    box-sizing: border-box;
    font-family: lato, sans-serif;
}

@font-face{
    src: url('../FONT/Oswald-VariableFont_wght.ttf');
    font-family: oswald;

    src: url('../FONT/Lato-Regular.ttf');
    font-family: lato;
}

.clear{
    clear: both;
}

html, body{
    height: 100%;
    padding: 0 0;
    background-color:white;
}
.container{
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
}

/*Inicio header menu*/
header{
    padding: 5px 2%;
    height: 110px;
    background-color: #2F1780;
}

.logo{
    float: left;
}

.logo img{
    width: 130px;
    height: 130px;
    margin-top: -25px;
}

.menu-desk{
    float: right;
    position: relative;
    top: 40px;
}

.menu-mobile{
    margin-top: 40px;
    display: none;
    float: right;
    height: 32px;
    width: 32px;
    background-size: 100% 100%;
    background-image: url(../IMG/menu\ .png);
}

.menu-desk ul{
    list-style-type: none;
} 

.menu-desk ul li{
    float: left;
    font-size: 26px;
    padding: 0 30px;
    font-style: italic;
}

.menu-desk ul li a{
    color: #997AFF;
    text-decoration: none;
}

.menu-mobile ul{
    width: 100%;
    position: absolute;
    left: 0;
    top: 110px;
    background-color: #2F1780;
    text-align: center;
    z-index: 2;
}

.menu-mobile ul li{
    font-size: 23px;
    padding: 20px 0;
    font-style: italic;
}

.menu-mobile ul li a{
    text-decoration: none;
    color: #997AFF;
}
/*Fim header menu*/

/*Inicio section banner*/

.banner{
    width: 100%;
    max-width: 2000px;
    max-height: 900px;
    height: calc(100vh - 110px);
    background-color: #997AFF;
    background-image: url(../IMG/banner.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right bottom;
    margin: 0 auto;
    padding: 90px 40px;
}

.container-skew1{
    position: relative;
    width: 40%;
    min-width: 500px;
    min-height: 350px;
}

.container-skew{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%; 
    text-transform: uppercase;
}

.skew {
    width: 80%;
    min-width: 270px;
    height: 70px;
    color: #997AFF;
    margin: 40px auto;
    padding: 8px 20px;
    background-color: #2F1780;
    font-size: 18px;
    -webkit-transform: skew(30deg);
        -ms-transform: skew(30deg);
            transform: skew(30deg); /* SKEW da div*/
  }

  .skew:nth-of-type(2){
      width: 60%;
      min-width: 170px;
  }

  .skew:nth-of-type(3){
    width: 40%;
    min-width: 140px;
}

  .p-skew {
    padding: 10px;
    -webkit-transform: skew(-30deg);
        -ms-transform: skew(-30deg);
            transform: skew(-30deg); /* SKEW inverso para o texto não inclinar */
  }
/*Fim section banner*/

/*Inicio section sites-destaque*/
.sites-destaque{
    padding: 90px 2%;
}

.sites-destaque .container{
    max-width: 1200px;
    padding: 40px 0;
    display: flex;
    flex-wrap: wrap;
}

.line-titulo{
    position: relative;
    text-align: center;
    margin: 0 auto;
    max-width: 1200px;
}

.ln1{
    position: absolute;
    top: 20px;
    height: 3px;
    background-color: #2F1780;
    width: 100%;
}

.line-titulo h2{
    position: relative;
    background-color: white;
    display: inline-block;
    text-align: center;
    font-size: 24px;
    font-style: italic;
    text-transform: uppercase;
    color: #2F1780;
    padding: 0 20px;
}

.vitrine-destaque{
    width: calc(100% / 3);
    position: relative;
    border: 20px solid white;
    text-align: center;
}

.site-img{
    position: relative;
    width: 100%;
    padding-top: 100%;
    background-size: 100% 100%;
}


.site-img img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.vitrine-destaque .info-site h2{
    color: #2F1780;
    font-size: 20px;
    text-align: left;
    font-weight: bold;
    margin-top: 20px;
}

.info-site p{
    color: #2F1780;
    text-align: justify;
    font-size: 14px;
    padding-top: 8px;
    margin-bottom: 50px;
}

.info-site a{
    text-decoration: none;
    background-color: #EB2D2D;
    color: white;
    font-size: 16px;
    width: 150px;
    height: 40px;
    text-align: center;
    position: absolute;
    bottom: 0;
    right: 0;
    line-height: 35px;
    display: block;
    margin-top: 10px;
    border-bottom: 5px solid #B21E1E;
}

/*Fim section sites-destaque*/

/* Inicio section sercicos-descricao*/

.sercicos-descricao{
    width: 100%;
}

.sercicos-descricao .container{
    max-width: 2000px;
    display: flex;
    flex-wrap: wrap;
}

.half-1{
    width: 50%;
    padding: 90px 5%;
    background-color: #4C25CC;
    color: white;
    text-align: center;
}

.half-1_wraper{
    display: inline-block;
    text-align: left;
    position: relative;
    padding: 0 2%;
}

.container h2{
    font-weight: normal;
    font-style: italic;
    font-size: 32px;
}

.half-1_wraper ul{
    margin-top: 20px;
    list-style-position: inside;
    margin-bottom: 60px;
    min-width: 300px;
}

.btn-1{
    text-decoration: none;
    background-color: #EB2D2D;
    color: white;
    font-size: 16px;
    width: 150px;
    height: 40px;
    text-align: center;
    position: absolute;
    bottom: 0;
    right: 0;
    line-height: 35px;
    display: block;
    margin-top: 10px;
    margin-right: 2%;
    border-bottom: 5px solid #B21E1E;
    cursor: pointer;
}

.half-2{
    width: 50%;
    padding: 90px 5%;
    background-color: #997AFF;
    color: white;
}

.half-2 .depoimento-single{
    margin-top: 19px;
}

.half-2 p{
    margin-top: 20px;
    font-size: 22px;
}

.navigation{
    margin-top: 30px;
    float: left;
    width: 100%;
}

.arrows{
    float: left;
}

.sercicos-descricao .arrows img{
    width: 32px;
    height: 32px;
    margin: 0 20px 0 0;
    cursor: pointer;
}

.nome-depoimento{
    float: right;
    color: #2F1780;
    font-size: 23px;
}

/* Fim section sercicos-descricao*/

/*Inicio section contato*/
.contato{
    padding: 90px 2%;
}

form{
    max-width: 600px;
    margin: 50px auto;
}

.input-wraper{
    float: left;
    padding: 10px;
    margin-top: 15px;
    position: relative;
}

.w100{
    width: 100%;
}

.w50{
    width: 50%;
}

.contato input[type=text],
input[type=email],
input[type=tel]{
    width: 100%;
    border: 1px solid #ccc;
    height: 40px;
    line-height: 40px;
    padding-left: 10px;
    outline: none;
}

.contato input[type=text]:focus,
input[type=email]:focus,
input[type=tel]:focus{
    border: 1px solid #2F1780;
}

.contato textarea{
    width: 100%;
    border: 1px solid #ccc;
    height: 120px;
    padding: 15px 8px;
    resize: none;
    outline: none;
}

.contato textarea:focus{
    border: 1px solid #2F1780;
    
}

.contato input[type=submit]{
    border-top: 0;
    border-left: 0;
    border-right: 0;
}

/*Fim section contato*/

/*Inicio Footer*/
footer{
    padding: 40px 2%;
    background-color: #2F1780;
}

footer nav{
    float: left;
}

footer nav ul{
    list-style-type: none;
}

footer nav ul li{
    float: left;
    font-size: 19px;
    padding: 0 35px;
}

footer nav ul a{
    text-decoration: none;
    color: white;
}

footer p{
    float: right;
    color: white;
    font-size: 19px;
}
/*Fim Footer*/

/*Inicio section venda(pagina venda)*/
.venda{
    min-height: 100%;
    padding: 30px 4%;
}

.venda .line-titulo{
    max-width: 1400px;
}

.sidebar{
    float: left;
    width: 30%;
}

.content-venda{
    margin-top: 30px;
}

.search-1{
	width:90%;
}

.search-1 h2{
	font-size: 24px;
	color: #2F1780;
	font-weight: normal;
}

.search-1 .barra-preco{
	width: 100%;
	height: 20px;
	background: white;
	border:1px solid #ccc;
	margin-top:8px;
	border-radius: 20px;
	position: relative;
}

.barra-preco-fill{
	position: absolute;
	left: 0;
	top: 0;
	width: 50%;
	height: 20px;
	border-radius: 20px;
	background:linear-gradient(to bottom,rgb(255,255,255),rgb(200,200,200));
}

.pointer-barra{
	width: 26px;
	height: 26px;
	position: absolute;
	left: calc(50% - 13px);
	top: -3px;
	cursor: pointer;
	border-radius: 8px;
	background:linear-gradient(to bottom,rgb(255,255,255),rgb(180,180,180));
	border:1px solid  #777;
}

.valor-pesquisa{
	margin-top:8px;
}

.valor-pesquisa p{
	color: #2F1780;
    font-size: 15px;
}

.valor-pesquisa p:nth-of-type(1){
	float: left;
}

.valor-pesquisa p:nth-of-type(2){
	float: right;
}

.search-02{
	margin-top: 20px;
}

.search-02 h2{
	font-size: 24px;
	color: #2F1780;
    font-weight: normal;
}

form{
    margin-top: 0;
}

.form-venda-wraper{
    margin-top:10px;
}

.form-venda-wraper input[type=checkbox]{
	display: none;
}

.form-venda-wraper label{
	width: 20px;
	height: 20px;
	display: inline-block;
	border:1px solid #ccc;
	border-radius: 3px;
	vertical-align: top;
	cursor: pointer;
	position: relative;
}


.circle{
	width: 8px;
	height: 8px;
	display: none;
	border-radius: 4px;
	background: black;
	position: absolute;
	left: 6px;
	top: 6px;
}


.form-venda-wraper input[type=checkbox]:checked + label > .circle{
	display: block;
}

.form-venda-wraper span{
	padding:0 10px;
	display: inline-block;
    vertical-align: top;
    color: #2F1780;
}


.vitrine-venda{
	float: left;
    width: 69%;
    display: flex;
    flex-wrap: wrap;
}

.vitrine-venda .info-site h2{
    color: #2F1780;
    font-size: 20px;
    text-align: left;
}


/*Fim section venda(pagina venda)*/

/*Inicio Responsivo 768px*/
@media screen and (max-width: 768px){

    .menu-desk{
        display: none;
    }

    .menu-mobile{
        display: block;
    }

    .menu-mobile ul{
        display: none;
    }

    .banner{
        background-size: 100% 100%;
        background-position: center bottom;
        padding: 80px 10px ;
    }

    .container-skew1{
        width: 100%;
        min-width: 300px;
    }



    .skew{
        font-size: 12px;
    }

    .vitrine-destaque{
        width: 100%;
        margin: 20px 0;
    }

    .half-1{
        width: 100%;
    }

    .half-1_wraper{
        width: 100%;
    }

    .half-1_wraper ul{
        min-width: 0;
        margin-bottom: 20px;
    }

    .btn-1{
        position: relative;
        margin: 0 auto;
    }

    .half-2{
        width: 100%;
        padding: 90px 4%;
    }

    .w50{
        width: 100%;
    }

    footer{
        text-align: center;
    }

    .menu-rodape{
        display: none;
    }

    footer p{
        float: none;
    }

    .search-1{
        width: 100%;
    }
    
    .container-barra{
        margin: 0 auto;
        position: relative;
    }


    .sidebar{
        float: none;
        width: 100%;
    }

    .vitrine-venda{
        float: none;
        width: 100%;
    }
}

/*Fim Responsivo 768px*/